IO_LOC "usb_dxp_io" U5,V5;
IO_PORT "usb_dxp_io" PULL_MODE=NONE DRIVE=4 BANK_VCCIO=2.5;
IO_LOC "usb_pullup_en_o" M11;
IO_PORT "usb_pullup_en_o" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_term_dn_io" V7;
IO_PORT "usb_term_dn_io" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_term_dp_io" U7;
IO_PORT "usb_term_dp_io" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "usb_rxdn_i" T12;
IO_PORT "usb_rxdn_i" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=2.5;
IO_LOC "usb_rxdp_i" N5;
IO_PORT "usb_rxdp_i" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=2.5;
IO_LOC  "CLK_IN" T9;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS25D PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=2.5;
